<div id="item-${itemId}" data-id="${itemId}" class="item {{if status == 1}}incomingStatus{{else status == 2}}acceptedStatus{{else status == 3}}progressStatus{{/if}}">
	<div class="twelve columns offset-by-one alpha itemContent">
		<h2>${name}</h2>
		<h3>in ${bucket.name}</h3>
		<em class="time"><abbr class="timeago" title="${created8601}">${created8601}</abbr>{{if hardDeadline}} | <strong>Deadline <abbr class="timeago" title="${hardDeadline8601}">${hardDeadline8601}</abbr></strong> {{/if}}</em>
		<p>${desc}</p>
		<em>by ${submitter}</em>
	</div>
	<div class="two columns omega itemSide">
		<small>${itemId}</small>
		<a class="delete button">Delete</a>
		<select name="itemStatus">
			<option value="1"{{if status == 1}} selected="selected"{{/if}}>Incoming</option>
			<option value="2"{{if status == 2}} selected="selected"{{/if}}>Accepted</option>
			<option value="3"{{if status == 3}} selected="selected"{{/if}}>In Progress</option>
		</select>
	</div>
	<br class="clear" />
{{if decay}}
	<div class="twelve columns offset-by-one alpha itemBar add-top">
		<div class="decayTime" style="background-color:rgba(255,255,255,${opacity});"><abbr class="timeago" title="${decay8601}">${decay8601}</abbr> until decay</div>
	</div>
	<div class="two columns omega add-top">
		<a class="delayDecay button">+1 day</a>
	</div>
	<br class="clear" />
{{/if}}
</div>